*{
    font-family:;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.green,#mybtn{
    background-color: #38c757;
    border-color: #38c757;
    color: #fff;
}
#mybtn:hover{
    background-color: #1b9435;
    border-color: #1b9435;
}
#mybtn-outline{
  background-color: #fff;
  border-color: #1b9435;
  color: #1b9435;
}
#mybtn-outline:hover{
  background-color: #1b9435;
  border-color: #1b9435;
  color: #fff;
}
#mybtn-yellow{
  background: #e5af43;
}
#mybtn-yellow:hover{
  background: #bd8e31;
}
#mytext{
  color: #1b9435!important;
}
#cat, #cat:after, #cat:before {
  transition: all .5s;
}

#cat{
    position:relative;
    z-index: 1;
  }
  #cat:hover {
    color: #91640F;
  }
  #cat:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #e5af43;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  #cat:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  
#advertize{
  background-color: #ffedd2;
}
#category-heading{
  font-size: 30px;
}
.card:hover{
  transition: 0.4s;
  box-shadow: 0px 0px 20px 0px black;
}
.multi-line-text-truncate {
  overflow: hidden;
  max-width: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#breakfast{
  background-color: #fff2d9;
}

#personal-care{
  background-color: #d5e5ca;
}


input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}














































#shop-with{
  background-color: #1b9435;
  color: #fff;
}
#about{
  font-size: 15px;
  text-align: justify;
  padding: 20px;
  color: #dddddd!important;
  background-color: #1b9435;
}
#about-list{
  font-size: 22px;
  color: #fff;
}
#about-list ul li{
  color: rgb(255, 201, 85);
  font-weight: bold;
}
.gray{
  background-color: #1b9435;
}
.footer{
  background-color: #095a1b;
}
.footer p{
  font-size: 15px;
}
